@font-face {
  font-family: 'lucida caligraphy';
  src: url('items/lucida.ttf' ) format('truetype'), url('items/lucidait.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'spartan' , sans-serif;
}


body {
    background-image: url('12.gif');
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #7C00FF;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #7C00FF;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.logo {
    text-align: center;
    border-bottom: 2px solid #7C00FF;
}
.animo {
    height: 100px;
    width: 500px;
}



  #galeria, #galeria * {box-sizing:border-box}
  #galeria {
  padding-bottom: 0; 
  height: 600px;
  }
  #galeria_miniaturas {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  position: absolute;
  top: 140px;
  }
  #galeria_imagen{
      text-align: end;
  }
  #imgGaleria {
  border: 1px solid #F2F2F2;  /* Borde de la imagen */
  padding: 3px;
  width: x; /* Ancho de la imagen */
  width: 80%; /* Alto de la imagen */
  }
  .miniatura {
  width:  60px;  /* Ancho de las miniaturas */
  height:  60px;  /* Alto de las miniaturas */
  float: left;
  cursor: pointer;
  margin: 10px 5px;
  }
  .miniatura:hover {
  opacity:.8;   /* Opacidad */
  border: 1px solid #7C00FF;
  }
  .miniatura:active {
  opacity:1;
  }

.description{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;

}
.description p {
    color: white;
    text-align: end;
}

.price{
  font-family: 'lucida caligraphy';
  color: white;
  text-align: center;
  font-size: xx-large;
}

.forms{
  text-align: left;
  padding-top:30px;
  width:50%;
}
.forms h2{
  color:white;
  padding-bottom: 15px;
}
.forms select{
  width: 100%;
}
.forms input{
  width: 50%;
}
.quan{
  padding-top:15px;
}
.cart{
  margin-top: 15px;
  width:100%;
  height: 40px;
  border: 2px solid black;
  background-color: #7C00FF;
  color:white;
}

.desc{
  padding-top:15px;
  width: 50%;
  text-align:left;
}
.desc p{
  color: white;
  font-size: large;
}
.desc h3{
  color: #7C00FF;
}

.finalcont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.des{
  color: white;
}

.inputs{
  border:0;
  height:40px;
}
.footer{
  text-align: center;
}
.lookbookfooter{
  height: 75%;
  width: 75%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    z-index: 1000;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .animo{
      width: 250px;
      height: 75px;
  }
}