@font-face {
  font-family: 'lucida caligraphy';
  src: url('items/lucida.ttf' ) format('truetype'), url('items/lucidait.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'spartan' , sans-serif;
}


body {
    background-image: url('12.gif');
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #7C00FF;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #7C00FF;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
.logo {
    text-align: center;
    border-bottom: 2px solid #7C00FF;
}
.animo {
    height: 100px;
    width: 500px;
}



  
  .div1 {
    height: 550px;
  }
  
  .div1 img{
    height: 100%;
    width: 100%;
  }
  
  
  .div{
    display:flex;
    flex-direction: column;
    position: absolute;
    color: white;
    background-image: url('12.gif');
    background-position: center;
    background-size: 100% 100%;
    width: 100%;
    height: 90%;
  }


.gallerycontainer{
position: relative;
/*Add a height attribute and set to largest image's height to prevent overlaying*/
}

.thumbnail img{
border: 1px solid white;
margin: 0 5px 5px 0;
}

.thumbnail:hover{
background-color: transparent;
}

.thumbnail:hover img{
border: 1px solid #7C00FF;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.thumbnail:hover span{ /*CSS for enlarged image*/
visibility: visible;
top: 0px;
left: 90px; /*position where enlarged image should offset horizontally */
z-index: 50;
}
.description{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;

}
.description p {
    color: white;
    text-align: end;
}

.price{
  font-family: 'lucida caligraphy';
  color: white;
  text-align: center;
  font-size: xx-large;
}
.usdprice{
  padding-top: 200px;
}

.forms{
  text-align: left;
  padding-top:30px;
  width:50%;
}
.forms h2{
  color:white;
  padding-bottom: 15px;
}
.forms select{
  width: 100%;
}
.forms input{
  width: 50%;
}
.quan{
  padding-top:15px;
}
.cart{
  margin-top: 15px;
  width:100%;
  height: 40px;
  border: 2px solid black;
  background-color: #7C00FF;
  color:white;
}

.desc{
  padding-top:15px;
  width: 50%;
  text-align:left;
}
.desc p{
  color: white;
  font-size: large;
}
.desc h3{
  color: #7C00FF;
}

.finalcont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.des{
  color: white;
}

.inputs{
  border:0;
  height:40px;
}
.footer{
  text-align: center;
}
.lookbookfooter{
  height: 75%;
  width: 75%;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    z-index: 1000;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .animo{
      width: 250px;
      height: 75px;
  }
}